{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row"><br>
        <div class="col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-9 col-sm-9">
                    <form method='GET' action='' role="search">
                        <input type="text" name='q'
                               class="control-group inline" value="{{ request.GET.q }}">
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-search awesome-space"></i>
                            <b>Search</b>
                        </button>
                    </form>
                </div>
                <div class="col-md-3 col-sm-3">
                    <button class="btn btn-primary btn-sm" style="float: right;">
                        <a href="{% url 'services:create' %}">
                            <i class="fa fa-plus-circle awesome-space"></i>
                            <b>Add Service</b>
                        </a>
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="CSSTableGenerator">
                        <table>
                            <tr>
                                <td>Service Name</td>
                                <td>Service Description</td>
                                <td>Service Url</td>
                            </tr>
                            {% for obj in service_list %}
                                <tr>
                                    <td><a style="color: darkblue;" href="{{ obj.get_absolute_url }}">{{ obj.service_name }}</a></td>
                                    <td>{{ obj.service_about }}</td>
                                    <td>{{ obj.service_url }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="pagination">
            <span class="step-links">
                {% if service_list.has_previous %}
                    <b><a style="color: darkblue;" href="?page={{ service_list.previous_page_number }}">previous</a></b>
                {% endif %}

                <span class="current">
                    <b>Page {{ service_list.number }} of {{ service_list.paginator.num_pages }}.</b>
                </span>

                {% if service_list.has_next %}
                    <b> <a style="color: darkblue;" href="?page={{ service_list.next_page_number }}">next</a></b>
                {% endif %}
            </span>
            </div>
        </div>
    </div>
{% endblock content %}
