{% extends 'users/user_detail.html' %}
{% load crispy_forms_tags %}

{% block panel %}
    <div class="row div_form">
        <div class="col-md-8 col-sm-8" style="color: royalblue;">
            <b>Service Name: </b>{{ instance_profile.service_name }}<br><br>
            <b>About Service:</b>{{ instance_profile.service_about }}<br><br>
            <b>Link to file: <br></b>{{ instance_profile.service_url }}<br><br>
            {% if instance_profile.service_file %}
            <b>Filename: {{ instance_profile.service_file }}</b><br><br>
            {% endif %}
            <button class="btn btn-primary btn-sm">
                <a href="{% url 'services:update' id=instance_profile.id %}">
                    Edit
                </a>
            </button>
            <button class="btn btn-primary btn-sm">
                <a href="{% url 'services:delete' id=instance_profile.id %}">
                    Delete
                </a>
            </button>
        </div>
    </div>
{% endblock %}

