{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
        <div class="row"><br>
            <div class="col-md-12 col-sm-12">
                    <div class="row">
    <div class="col-md-2">
        <button><a href="{% url 'patients:create' %}">Add Patient</a></button></div>
    <div class="col-md-6">
    <form method='GET' action='' role="search">
                        <input type="text" name='q'
                               class="control-group inline" value="{{ request.GET.q }}">
                        <button type="submit">Search Patient</button>
                    </form>
                    </div>
                </div>
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th>National ID</th>
                        <th>ANC Number</th>
                        <th>Contact</th>
                        <th>Last Menstrual Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in patient_list %}
                        <tr class="gradeX">
                            <td><a href="{{ obj.get_absolute_url }}">{{ obj.patient_name }}</a></td>
                            <td>{{ obj.national_id }}</td>
                            <td>{{ obj.anc_number }}</td>
                            <td>{{ obj.patient_contact }}</td>
                            <td>{{ obj.last_menstrual }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="pagination">
                        &nbsp;&nbsp;&nbsp;Total Patient Entries:<b>{{ patient_count }}</b>
                        &nbsp;&nbsp;&nbsp;
                        <span class="step-links">
                            {% if patient_list.has_previous %}
                                <b><a href="?page={{ patient_list.previous_page_number }}">previous</a></b>
                            {% endif %}

                            <span class="current">
                                <b>Page {{ patient_list.number }} of {{ patient_list.paginator.num_pages }}.</b>
                            </span>

                            {% if patient_list.has_next %}
                                <b> <a href="?page={{ patient_list.next_page_number }}">next</a></b>
                            {% endif %}
                        </span>
                </div>
            </div>
        </div>
{% endblock content %}

