{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ instance_profile.name }}{% endblock %}

{% block content %}
    <div class="row"><br>
        <div class="col-md-5 col-sm-5">
            <div class="row">
                <div class="well">
                    <b>Patient Name: </b>{{ instance_profile.patient_name }}<br><br>
                    <b>Days to Delivery: </b><br><br>
                    <b>Expected delivery date: </b>{{ instance_edd }}<br><br>
                    <button class="btn btn-primary btn-sm">
                        <a href="{% url 'patients:update' id=instance_profile.id %}">Edit</a>
                    </button>
                    <button class="btn btn-primary btn-sm">
                        <a href="{% url 'patients:delete' id=instance_profile.id %}">Delete</a>
                    </button>
                    <button class="btn btn-primary btn-sm">
                        <a href="{% url 'patients:list' %}">Patient list</a>
                    </button>
                    <button class="btn btn-primary btn-sm">
                        <a href="{% url 'reminders:create'%}">Book appointment</a>
                    </button>
                </div>

            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <b style="color:lime">Pending Appointments </b><br>
            <ul>
                {% for obj in appointment %}
                    <a href="{{ obj.service.get_absolute_url }}">
                        <b style="color:royalblue">{{ obj.service.service_name }}</b></a>&nbsp;on
                    <b>{{ obj.appointment_date }}</b>&nbsp;
                    to be reminded on&nbsp;{{ obj.date_of_call }}&nbsp;
                    at&nbsp;{{ obj.time_of_call }}<br><br>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}

