{% extends "users/user_detail.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ reminders }}{% endblock %}

{% block content %}
    <div class="row div_form">
        <div class="col-md-4 col-sm-4" style="color: royalblue;">
            <br>
            <b>Patient Name: </b>{{ instance_profile.patient }}<br><br>
            <b>Appointment date: </b>
            {{ instance_profile.appointment_date }}
            <br><br>
            <b>Service: </b>{{ instance_profile.service }}<br><br>
            <button class="btn btn-primary btn-sm">
                <a href="{% url 'reminders:update' id=instance_profile.id %}">
                    Edit
                </a>
            </button>
            <button class="btn btn-primary btn-sm">
                <a href="{% url 'reminders:delete' id=instance_profile.id %}">
                    Delete
                </a>
            </button>
            <button class="btn btn-primary btn-sm">
                <a href="{% url 'reminders:list' %}">
                    Reminder list
                </a>
            </button>
            <br><br>
            {% block response %}
            {% endblock %}
        </div>
    </div>

{% endblock content %}

